.bundle
db/*.sqlite3
config/database.yml
log/
doc/
.yardoc/
tags
test.png*
stream*.png
.sass-cache/
gems.tags
coverage
tmp/
.sass-cache/
*.swp
*.swo
*.swn
*.DS_Store
public/system
public/images
public/assets
public/test
public/sitemap*
coverage
spec/reports
.idea/